body {
    padding: 0px;
    border: 0px;
    margin: 0;
}
.first-name-container,
.last-name-container,
.email-container,
.number-container,
.password,
.confirm-password {
    display: flex;
    flex-direction: column;
}

.name, .contacts,
.passwords {
    display: flex;
    gap: 20px;
}

.form {
    height: 190px;
    width: 570px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.form-container {
    box-sizing: border-box;
    width: 548px;
    height: 99vh;
    background-color: white;
    margin-right: 50px;
    padding: 30px;
    padding-top: 90px;
    
}

.sidebar {
    display: flex;
    box-sizing: border-box;
    width: 600px;
    height: 98vh;
    margin-left: 50px;
    background-color: white;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 100% 100%;
    justify-content: center;
}

.form-page {
    display: flex;
}
body {
    background-color: black;
}

.para-2 {
    margin-bottom: 50px;
}

.para-1, .para-2,
.para-3 {
    font-weight: bold;
}

input {
    border: 1px solid #E5E7EB;
}

label {
    font-weight: lighter ;
    font-size: 15px;
}

button {
    margin-top: 20px;
    width: 155px;
    height: 40px;
    border-radius: 5px;
    background-color: #596D48;
    color: white;
}

.log-in {
    font-size: 13px;
    margin-top: 20px;
}

.logo-backgound {
    position: absolute;
    width: 356px;
    height: 100px;
    background-color: black;
    margin-top: 132px;
    opacity: .4;
    display: flex;
}

.logo-container {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 70px;
    font-family: "Norse-Bold";
    color: white;
    margin-top: 78px;
}

@font-face {
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
}

.credits {
    color: white;
    font-size: 12px;
    position: relative;
    align-self: end;
    width: 170px;
}
input {
    outline: none;
    border: 1px solid #E5E7EB;
    height: 15px;
    width: 170px;
    -webkit-transition: 0.5s;
    transition: 0.4s;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid rgb(92, 92, 255);
}

input:focus:invalid {
    border: 1px solid red;
}

input:focus:valid {
    border: 1px solid green;
}